/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1f2937; 
  color: #fff;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

body, app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}